@charset "UTF-8";

@page { /* 7x9 trim size */
  size: 7in 9.1875in;
  margin: 0.75in 1in;
  padding-bottom: 0.2in;
}

body.book {
  color: cmyk(0%,0%,0%,100%);
  text-align: justify;
  hyphens: auto;
  font-family: "DejaVu-Serif";
}

/* (((((((((((((( TITLEPAGE )))))))))))))) */

section.titlepage {
  page: titlepage;
}

section.titlepage * {
  text-align: center;
}

h2.author {
  font-style: italic;
}

/* (((((((((((((( COPYRIGHT )))))))))))))) */

section.titlepage {
  page: copyright;
}

/* (((((((((((((( DEDICATION )))))))))))))) */


section.dedication {
  page: dedication;
}

section.dedication p {
  font-style: italic;
}

section.dedication * { 
  text-align: center; 
}

/* (((((((((((((( TOC )))))))))))))) */

section.toc {
  page: toc;
}

nav.toc ol { list-style-type: none; }

/* (((((((((((((( FOREWORD )))))))))))))) */

section.foreword {
  page: foreword;
}

/* (((((((((((((( PREFACE )))))))))))))) */

section.preface {
  page: preface;
}

/* (((((((((((((( PART )))))))))))))) */

div.part {
  page: part;
}

/* (((((((((((((( CHAPTER )))))))))))))) */

section.chapter {
  page: chapter;
  page-break-before: always;
}

/* (((((((((((((( APPENDIX )))))))))))))) */

section.appendix {
  page: appendix;
}

/* (((((((((((((( GLOSSARY )))))))))))))) */

section.glossary {
  page: glossary;
}

/* (((((((((((((( BIBLIOGRAPHY )))))))))))))) */

section.bibliography {
  page: bibliography;
}

/* (((((((((((((( INDEX )))))))))))))) */

section.index {
  page: index;
}

/* (((((((((((((( COLOPHON )))))))))))))) */

section.colophon {
  page: colophon;
}

/* (((((((((((((( BLOCKS )))))))))))))) */

h1, h2, h3, h4, h5 {
  font-family: "DejaVu-Sans";
  hyphens: none;
  text-align: left;
}

/* (((((((((((((( INLINES )))))))))))))) */

code {
  font-family: "DejaVu-SansMono";
}
