@charset "UTF-8";

@page { /* 7x9 trim size */
  size: 7in 9.1875in;
  margin: 0.75in 1in;
  padding-bottom: 0.2in;
}

body.book {
  color: cmyk(0%,0%,0%,100%);
  text-align: justify;
  hyphens: auto;
}

/* page counters are tricky */

body.book > div.part:first-of-type,
body.book > section.chapter:first-of-type {
  counter-reset: page 1;
}

body.book > section.chapter:first-of-type p {
  color: red;
}

body.book > section.chapter+div.part {
  counter-reset: none;
}

/* (((((((((((((( TITLEPAGE )))))))))))))) */

section.titlepage {
  page: titlepage;
}

section.titlepage * {
  text-align: center;
}

h2.author {
  font-style: italic;
}

/* (((((((((((((( COPYRIGHT )))))))))))))) */

section.titlepage {
  page: copyright;
}

/* (((((((((((((( DEDICATION )))))))))))))) */


section.dedication {
  page: dedication;
}

section.dedication p {
  font-style: italic;
}

section.dedication * { 
  text-align: center; 
}

/* (((((((((((((( TOC )))))))))))))) */

section.toc {
  page: toc;
}

@page toc:right {
  @bottom-right-corner {
    content: counter(page, lower-roman); 
  }
}

@page toc:left {
  @bottom-left-corner {
    content: counter(page, lower-roman); 
  }
}

nav.toc ol { list-style-type: none; }

/* (((((((((((((( FOREWORD )))))))))))))) */

section.foreword {
  page: foreword;
}

@page forword:right {
  @bottom-right-corner {
    content: counter(page, lower-roman); 
  }
}

@page foreword:left {
  @bottom-left-corner {
    content: counter(page, lower-roman); 
  }
}


/* (((((((((((((( PREFACE )))))))))))))) */

section.preface {
  page: preface;
}

@page preface:right {
  @bottom-right-corner {
    content: counter(page, lower-roman); 
  }
}

@page preface:left {
  @bottom-left-corner {
    content: counter(page, lower-roman); 
    font-family: "DejaVu-Sans";
  }
}

/* (((((((((((((( PART )))))))))))))) */

div.part {
  page: part;
}

/* (((((((((((((( CHAPTER )))))))))))))) */

section.chapter {
  page: chapter;
  page-break-before: always;
}

@page chapter:right {
  @bottom-right-corner {
    content: counter(page); 
  }
}

@page chapter:left {
  @bottom-left-corner {
    content: counter(page); 
  }
}


/* (((((((((((((( APPENDIX )))))))))))))) */

section.appendix {
  page: appendix;
  page-break-before: always;
}

@page appendix:right {
  @bottom-right-corner {
    content: counter(page); 
  }
}

@page appendix:left {
  @bottom-left-corner {
    content: counter(page); 
  }
}

/* (((((((((((((( GLOSSARY )))))))))))))) */

section.glossary {
  page: glossary;
}

@page glossary:right {
  @bottom-right-corner {
    content: counter(page); 
  }
}

@page glossary:left {
  @bottom-left-corner {
    content: counter(page); 
  }
}

/* (((((((((((((( BIBLIOGRAPHY )))))))))))))) */

section.bibliography {
  page: bibliography;
}

@page bibliography:right {
  @bottom-right-corner {
    content: counter(page); 
  }
}

@page bibliography:left {
  @bottom-left-corner {
    content: counter(page); 
  }
}

/* (((((((((((((( INDEX )))))))))))))) */

section.index {
  page: index;
}

@page index:right {
  @bottom-right-corner {
    content: counter(page); 
  }
}

@page index:left {
  @bottom-left-corner {
    content: counter(page); 
  }
}

/* (((((((((((((( COLOPHON )))))))))))))) */

section.colophon {
  page: colophon;
}

/* (((((((((((((( BLOCKS )))))))))))))) */

h1, h2, h3, h4, h5 {
  hyphens: none;
  text-align: left;
}

img { max-width: 100%; }

/* (((((((((((((( INLINES )))))))))))))) */

code {
  font-family: monospace;
}
